/build*
./CMakeLists.txt
/libs
/target
cmd/i2nsf_enarx/enarx/target/
cmd/i2nsf_enarx/enarx/libs
.vscode
.DS_Store
*.o
*.tmp
*.log
*.m4
compile
*.status
*.back
depcomp
Makefile
missing
*.pid
TODO
automate.*
tmp
build
build/
target
target/
libs/
parson/
parson
pseudo.txt
